.header {
  border: 1px solid #eaeaea;
  border-radius: 6.5rem;
  margin: 2rem;
}

.header nav {
  display: flex;
  justify-content: space-between;
  height: 11.1rem;
  padding: 1.6rem 2rem 1.6rem 5.2rem;
  align-items: center;
}

.header div {
  display: flex;
  gap: 2rem;
}
